body{
    border-left: chartreuse solid 40px;
    border-right: chartreuse solid 40px;


}
.hr1{
    background-color: darkblue;
    width: 80%;
    height:2px;
}

.designBlock{
    font-size: medium;
    text-align: center;
    color:chartreuse;
    background-color: black;
    margin:10%;
    padding:10%;
    border-right: crimson solid 5vw;
    border-bottom: yellow solid 5vw;
    border-left: crimson solid 5vw;
    border-top: yellow solid 5vw;
    border-radius: 12px;

}
.designBlock :hover{
    
    color:white;
}